<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/nav %>
    </header>

    <main>
    	
    	<% for(event in events){ %>
			<a href="/event/<%= events[event].id %>">
				<h3> <%= events[event].title %> </h3>
			</a>
    		<p> Location: <%= events[event].loc %> </p>
    		<p> <%= events[event].body %> </p>
    		<p> Created by 
    			<a href="/user/<%= events[event].created_by.id %>">  
    				<%= events[event].created_by.name.full %> </p>
    			</a>
    	<% } %>

    </main>
    
</body>
</html>